/***********************************************************************
						Styles for Desktop 
***********************************************************************/
App {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

@font-face {
	font-family: 'CaskaydiaCoveNerdFont';
	src: url('../../public/fonts/CascadiaCode(1)/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

body {
	background: #1b2430;
	min-width: 100%;
	padding: 0;
	padding: 0;	
	display: flex;
	justify-content: center;
	align-items: flex-start;
}


/*******************************
 *		Top Container		   *
*******************************/		
 
	.top-left-container {
		max-width:80%;
	}
		@media (min-width: 900px) {
			
			.top-left-border {
				min-width: 10%;
				max-width: 15%;

			}
			
			.typewriter {
				padding-top: 4vmax;
				padding-left: 5vmax;
				min-width: 15%;
				max-width: 100%;
				font-size: 1vmax;
				color: white;
				font-family: 'CaskaydiaCoveNerdFont';
			}
	}
	
	@media (max-width: 756px) {
			
			.top-left-border {
				min-width: 30%;

			}
			
			.typewriter {
				padding-top: 6vmax;
				padding-left: 6vmax;
				min-width: 15%;
				font-size: 1.1vmax;
				color: white;
				font-family: 'CaskaydiaCoveNerdFont'
			}
	}


/*******************************
 *		Links Container		   *
*******************************/
			
	@media (min-width: 900px) {
	.links-container {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
		min-width: 15%;
		max-width: 25%;
		align-self: right; 
		padding-left: 70%; 
		font-family: 'CaskaydiaCoveNerdFont'
	}

		.mail-link {
			width: 70%;	
		}

		.github-link {
			padding-top: 11%;
			padding-left: 6%;
			width: 45%;
		}
	
		.linkedin-link{
			width: 70%;
		}
	}

	@media (max-width: 756px) {
	.links-container {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
		column-gap: 2px;
		min-width: 15%;
		max-width: 20%;
		align-self: right; 
		padding-left: 65%; 
		margin-top: -20%;
		margin-bottom: 18%;
		font-family: 'CaskaydiaCoveNerdFont'
	}

		.mail-link {
			width: 1.5rem;	
		}

		.github-link {
			padding-top: 15%;
			padding-left: 6%;
			width: 1.15rem;
		}
	
		.linkedin-link{
			width: 1.5rem;
		}
	}

/*******************************
 *		Bio Container		   *
*******************************/
	@media (min-width: 900px) {
	
	.bio-container { /* this will only contain the Bio Line and Bio itself, not the {header} */
		max-height: 10%;
		max-width: 50%;
		display: grid;
		grid-template-columns: .5fr 2fr;
		column-gap: -100px;
	}

	
		.bio-header {
			color: #9f73ab;
			font-size: 4vmax;
			padding-left: 5vmax;
			font-family: 'CaskaydiaCoveNerdFont'
	
		}

		.bio-line {
			max-width: 20%;
			justify-content: left;
			padding-left: 45%;
			
		}

		.bio-text {
			font-size: 1.4vmax;
			color: white;
			font-family: 'CaskaydiaCoveNerdFont'
		}

	}

	@media (max-width: 756px) {
	
	.bio-container { /* this will only contain the Bio Line and Bio itself, not the {header} */
		max-height: 10%;
		max-width: 100%;
		display: flex;
	}

		.bio-header {
			color: #9f73ab;
			font-size: 3vmax;
			padding-top: 5vmax;
			padding-left: 6.2vmax;
			font-family: 'CaskaydiaCoveNerdFont'
		}

		.bio-line {
			max-width: 0%;
		}

		.bio-text {
			font-size: 1.8vmax;
			color: white;
			padding-left: 15%;
			padding-right: 15%;
			font-family: 'CaskaydiaCoveNerdFont'
		}
	}


/*******************************
 *		Projects Container	   *
*******************************/
	@media (max-width: 756px) {
	
	.bottom-right-container {
		max-height: 30%;
        max-width: 80%;
		margin-top: 8%;
		margin-left: 4%;
		justify-content: center;
	}

	.projects-header {
		color: white;
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 100%;
		margin-left: 10%;	
	}
	
	.projects-border {
		max-width: 50%;
	}

	.projects-grid {
		display: grid;
        max-width: 100%;
		max-height: 20%;
        row-gap: 0.5rem;
        grid-template-columns: 1fr;
		margin-left: 14%;
		margin-top: -40%;

	}
	
	 .dark-oura, .branch-library, .dbt-pipeline, .retail-pipeline {
        color: white;
		font-size: 85%;
		font-size: 0.7rem;
		text-decoration: none;
		font-family: 'CaskaydiaCoveNerdFont'
	}
	
	.bottom-right-border {
		position: fixed;
        min-width: 35%;
        margin-right: 1%;
        margin-bottom: 7%;
		padding-left: 10%;
	
	}
}


@media (min-width: 900px) {
    .bottom-right-container {
        max-height: 50%;
        max-width: 30%;
        margin-top: -22%;
        margin-left: 60%;
    }
    
    .projects-header {
        color: white;
        font-family: 'CaskaydiaCoveNerdFont';
        margin-left: 6%;    
        font-size: 1.25rem;
    }
    
    .projects-border {
        max-width: 45%;
    }
    
    .projects-grid {
        display: grid;
        width: 100%;
        row-gap: 1.5rem;
        grid-template-columns: 1fr;
        margin-left: 10%;
        margin-top: -30%;
		padding: 1%;
    }

    .bottom-right-border {
		position: fixed;
        min-width: 14%;
        margin-right: 8%;
        margin-bottom: 12%;
		padding-left: 5%;
    }

    .dark-oura, .branch-library, .dbt-pipeline, .retail-pipeline {
        color: white;
		font-size: 85%;
		text-decoration: none;
    	font-family: 'CaskaydiaCoveNerdFont'
	}
}



