/******************************
	  App Style and Fonts 
******************************/
App {
	display: flex;
	padding: 0px;
	position: absolute;
	margin: 0;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

@font-face {
	font-family: 'CaskaydiaCoveNerdFont';
	src: url('../../public/fonts/CascadiaCode(1)/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	background: black;
	background-size: cover;
}



/******************************
   Top left Border Container 
******************************/
.top-left-container {
	position: absolute;
	width: 100.0rem;
	height: 100.0rem;
	top: 1.0rem;
	left: 1.0rem;
}

.top-left-border {
	position: absolute;
	width: 5%;
	height: auto;
	top: 1.0rem;
	left: 1.0rem;
}

.typewriter {
	font-family: 'CaskaydiaCoveNerdFont';
	font-size: 10px;
	position: absolute;
	left: 4.0rem;
	top: 3.0rem;
	color: white;
}



/******************************
		     Bio
******************************/
.bio-container {
	position: absolute;
	width: 50.0rem;
	height: 70.0rem;
	top: 9.5rem;
	left: 5.0rem;

}

	.bio-header {
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 50px;
		position: absolute;
		color: #9f73ab;
	}

	.bio-text {
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 13px;
		position: absolute;
		color: white;
		top: 4.8rem;
		left: 0.5rem;
	}

	.bio-line {
		position: absolute;
		height: 22%;
		width: auto;
		right: 36.2rem;
		top: 0.5rem;
	}



/******************************
		 Social Links
******************************/
.links-container {
	position: absolute;
	width: 5.0rem;
	height: 5.0rem;
	top: 3.0rem;
	left: 60rem;

}

	.mail-link {
		position: absolute;
		height: 35.5%;
		width: auto;
		left: -2.4rem;
		top: 1.0rem;
		
	}

	.github-link {
		position: absolute;
		height: 25%;
		width: auto;
		left: 0.1rem;
		top: 1.2rem;
		
	}

	.linkedin-link {
		position: absolute;
		height: 35%;
		width: auto;
		left: 2rem;
		top: 1rem;
		
	}



/******************************
 Bottom Right Border Container 
******************************/
.bottom-right-container {
	position: absolute;
	width: 100.0rem;
	height: 100.0rem;
	top: 20.0rem;
	left: 56.99rem;

}

	.bottom-right-border {
		position: absolute;
		width: 10%;
		height: auto;
		
	}

	.projects-border {
		position: absolute;
		width: 16%;
		height: auto;
		bottom: 95rem;
		right: 105rem;

	}

	.projects-header {
		position: absolute;
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 24px;
		color: white;
		bottom: 108rem;
		right: 110rem;
	}

		.dark-oura {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 18px;
			bottom: 104.5rem;
			left: -15rem;
			color: white;
			z-index: 1000;
			text-decoration: none;
		}

		.branch-library {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 18px;
			color: white;
			bottom: 102.5rem;
			left: -15rem;
			z-index: 1000;
			text-decoration: none;
		}	



		.dbt-pipeline {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 18px;
			color: white;
			bottom: 100.5rem;
			left: -15rem;
			z-index: 1000;
			text-decoration: none;

		}

		.retail-pipeline {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 18px;
			color: white;
			bottom: 98.5rem;
			left: -15rem;
			z-index: 1000;
			text-decoration: none;

		}
