/***********************************************************************
						Styles for Desktop 
***********************************************************************/
@media (min-width: 1024px) {
 

App {
	display: flex;
	padding: 0px;
	position: absolute;
	margin: 0;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

@font-face {
	font-family: 'CaskaydiaCoveNerdFont';
	src: url('../../public/fonts/CascadiaCode(1)/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
	background: #1b2430;
	background-size: cover;
}



/******************************
   Top left Border Container 
******************************/
.top-left-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0rem;
	left: 0rem;
}

.top-left-border {
	position: absolute;
	width: 10%;
	height: auto;
	top: 1.0rem;
	left: 1.0rem;
}

.typewriter {
	font-family: 'CaskaydiaCoveNerdFont';
	font-size: 14px;
	position: absolute;
	left: 4.0rem;
	top: 3.0rem;
	color: white;
}



/******************************
		     Bio
******************************/
.bio-container {
	position: fixed;
	width: 50%;
	height: 50%;
	top: 11rem;
	left: 0rem;

}

	.bio-header {
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 60px;
		position: absolute;
		color: #9f73ab;
		left: 5rem;
	}

	.bio-text {
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 18px;
		position: absolute;
		color: white;
		top: 6rem;
		left: 5rem;
	}

	.bio-line {
		position: absolute;
		height: 30%;
		width: 10%;
		left: 2.0rem;
		top: 7.5rem;
	}



/******************************
		 Social Links
******************************/
.links-container {
	position: fixed;
	width: 15%;
	height: 15%;
	top: 0rem;
	right: 0rem;

}

	.mail-link {
		position: absolute;
		height: 50%;
		width: auto;
		right: 10rem;
		top: 1.0rem;
		
	}

	.github-link {
		position: absolute;
		height: 35%;
		width: auto;
		right: 2.5rem;
		top: 1.4rem;
		
	}

	.linkedin-link {
		position: absolute;
		height: 50%;
		width: auto;
		right: 6rem;
		top: 1rem;
		
	}



/******************************
 Bottom Right Border Container 
******************************/
.bottom-right-container {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0rem;
	right: 0rem;

}

	.bottom-right-border {
		position: absolute;
		width: 10%;
		height: auto;
		bottom: 11rem;
		right: 10rem;
		
	}

	.projects-border {
		position: absolute;
		width: 10%;
		height: auto;
		bottom: 14rem;
		right: 25rem;

	}

	.projects-header {
		position: absolute;
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 26px;
		color: white;
		bottom: 22.5rem;
		right: 26rem;
	}

		.dark-oura {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 24px;
			bottom: 19rem;
			right: 26rem;
			color: white;
			z-index: 1000;
			text-decoration: none;
		}

		.branch-library {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 24px;
			color: white;
			bottom: 17rem;
			right: 22.8rem;
			z-index: 1000;
			text-decoration: none;
		}	



		.dbt-pipeline {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 24px;
			color: white;
			bottom: 15rem;
			right: 15.2rem;
			z-index: 1000;
			text-decoration: none;

		}

		.retail-pipeline {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 24px;
			color: white;
			bottom: 13rem;
			right: 12.5rem;
			z-index: 1000;
			text-decoration: none;

		}



}



/***********************************************************************
							Styles for Mobile 
***********************************************************************/
@media (max-width: 414px) {
 

App {
	display: flex;
	padding: 0px;
	position: absolute;
	margin: 0;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

@font-face {
	font-family: 'CaskaydiaCoveNerdFont';
	src: url('../../public/fonts/CascadiaCode(1)/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
	background: #1b2430;
	background-size: cover;
}



/******************************
   Top left Border Container 
******************************/
.top-left-container {
	position: absolute;
	width: 100%;
	top: 0rem;
	height: auto;

}

.top-left-border {
	position: absolute;
	width: 40%;
	height: auto;
	top: 0.5rem;
	left: 0.5rem;
}

.typewriter {
	font-family: 'CaskaydiaCoveNerdFont';
	font-size: 8px;
	top: 2.5rem;
	left: 2.5rem;
	position: absolute;
	color: white;
}



/******************************
		     Bio
******************************/
.bio-container {
	position: absolute;
	width: 90%;
	height: 80%;
	top: 20%;

}

	.bio-header {
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 30px;
		position: absolute;
		color: #9f73ab;
		left: 2.5rem;
		top: 2.5rem;
	}

	.bio-text {
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 12px;
		width: 80%;
		position: relative;
		color: white;
		top: 5rem;
		left: 2.5rem;
	}

	.bio-line {
		position: absolute;
		height: 0%;
		width: 0%;
	}



/******************************
		 Social Links
******************************/
.links-container {
	position: absolute;
	width: 100%;
	height: 10%;

}

	.mail-link {
		position: absolute;
		height: 35.5%;
		width: auto;
		right: 4rem;
		top: 1.0rem;
		
	}

	.github-link {
		position: absolute;
		height: 25%;
		width: auto;
		right: 1rem;
		top: 1.2rem;
		
	}

	.linkedin-link {
		position: absolute;
		height: 35%;
		width: auto;
		right: 2.4rem;
		top: 1rem;
		
	}



/******************************
 Bottom Right Border Container 
******************************/
.bottom-right-container {
	position: absolute;
	width: 100%;
	height: 40%;
	top: 22.0rem;
	bottom: 0rem;

}

	.bottom-right-border {
		position: absolute;
		width: 40%;
		right: 1.0rem;
		bottom: 1rem;
		
	}

	.projects-border {
		position: absolute;
		width: 30%;
		bottom: 4.8rem;
		left: 2.5rem;

	}

	.projects-header {
		position: absolute;
		font-family: 'CaskaydiaCoveNerdFont';
		font-size: 18px;
		color: #9f73ab;
		bottom: 9.7rem;
		left: 3.1rem;
	}

		.dark-oura {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 14px;
			bottom: 8rem;
			left: 3.4rem;
			color: white;
			z-index: 1000;
			text-decoration: none;
		}

		.branch-library {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 14px;
			color: white;
			bottom: 6rem;
			left: 3.4rem;
			z-index: 1000;
			text-decoration: none;
		}	



		.dbt-pipeline {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 14px;
			color: white;
			bottom: 4rem;
			left: 3.4rem;
			z-index: 1000;
			text-decoration: none;

		}

		.retail-pipeline {
			position: absolute;
			font-family: 'CaskaydiaCoveNerdFont';
			font-size: 14px;
			color: white;
			bottom: 2rem;
			left: 3.4rem;
			z-index: 1000;
			text-decoration: none;

		}



}
